#logo {
  text-align: center;
}

#logo_text{
	font-stretch: wider;
}

#login{
	text-align: center;	
}

#login_text{
	text-transform: 
}

#login_field{
	vertical-align: top;
	margin: 7px; 
}

#hello_text{
	text-align: center;
	
}

#audio{
	display: table;
    margin: 0 auto;
}

#ok{
  text-align: center;
}

#ok input{
-webkit-animation: opacity  1s infinite ease-in-out;
animation: opacity  1s infinite ease-in-out;
}

@-webkit-keyframes opacity  {
from {opacity: 0.5}
50% {opacity: 0}
to {opacity: 0.5}
}
@keyframes opacity  {
from {opacity: 0.5}
50% {opacity: 0}
to {opacity: 0.5}
}